*{
	font-family: 'Open Sans', sans-serif;
}

h1{
	text-align: center;
	margin-bottom:20px ;
	margin-top: 20px;
}

img{
	float: left;
	height: 15%;
	width: 15%;
}

.border{
	border-color: 2px solid red;
	background-color: blue;
	border-radius: 20px;
	padding: 5px;
}

div{
	margin: 10px 0px 10px 0px;
}

.imagecircle{
	border-radius: 100px;
	padding: 2px;
}

#image{
	border-radius:20px;
	padding: 5px;
}

#empty{
	text-align: center;
	padding: 20px;
}
